html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*todo ОБЩИЕ СТИЛИ*/

.auth-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #aaddfe, #f8a0ba);
}

/*todo РЕГИСТРАЦИЯ СТИЛИ*/
/*todo ЛОГИН СТИЛИ*/

.main-page__registration__header {
    display: flex;
    justify-content: space-between;
}

.navbar-router {
    display: flex;
    margin-right: 4%;
    margin-top: 78px;
}

.navbar-router__btn__blog {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    width: 127px;
    height: 50px;
    margin-right: 51px;
    font-family: Gilroy serif;
    font-size: 36px;
    line-height: 24px;
    /* identical to box height, or 67% */

    letter-spacing: 0.01em;

    color: #FFFFFF;
}

.navbar-router__btn__registration {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    width: 250px;
    height: 50px;
    margin-right: 51px;
    font-family: Gilroy serif;
    font-size: 36px;
    line-height: 24px;
    /* identical to box height, or 67% */

    letter-spacing: 0.01em;

    color: #FFFFFF;
}

.navbar-router__btn__login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 151px;
    height: 50px;
    border: 2px solid #00C9DF;
    box-sizing: border-box;
    font-family: Gilroy;
    font-size: 36px;
    line-height: 24px;
    /* identical to box height, or 67% */

    letter-spacing: 0.01em;

    color: #00C9DF;
}

.main-logo {
    margin-left: 3.7%;
    margin-top: 43px;
    width: 100px;
    height: 100px;
}

.main-logo img {
    width: 100%;
    height: 100%;
}

.navbar-router__btn-login {
    display: flex;
}

.main-page__title {
    display: flex;
    width: 853px;
    height: 169px;
    margin-left: 86px;
    margin-top: 66px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 169px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.registration-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 172px;
}

.main-page__input {
    display: flex;
    justify-content: flex-start;
    width: 600px;
    height: 100px;
    background: #FFFFFF;
    border: 3px solid #00C9DF;
    box-sizing: border-box;
    margin-bottom: 50px;
    font-family: Gilroy-Bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #969CBA;
}

.registration-form__checkboxes {
    display: flex;
}

.sex-registration {
    font-family: Gilroy-Bold sans-serif;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 68px;
}

.sex-registration__letter {
    font-family: Gilroy-Bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 8px;
}

.checkbox {
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    border: 3px solid #00C9DF;
    box-sizing: border-box;
    margin-right: 61px;
}

.main-page__submit__reg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: #00C9DF;
    font-family: Gilroy-Bold serif;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-top: 100px;
    color: #FFFFFF;
    border: 1px solid #00C9DF;
}

.main-page__registration__footer {
    display: flex;
    margin-top: 321px;
}

.footer-date {
    font-family: Gilroy;
    font-size: 36px;
    line-height: 24px;
    /* identical to box height, or 67% */
    margin-left: 49%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-right: 475px;
}

.social {
    display: flex;
    justify-content: center;
}

.footer-social__btn {
    margin-right: 30px;
    margin-bottom: 20px;
}

/*todo ДАННЫЕ СТИЛИ*/

.navbar-profile__page {
    display: flex;
    justify-content: space-between;
}

.href {
 cursor: pointer;
 text-decoration: none;
}
.logo__top-left {
    width: 100px;
    height: 100px;
    background: #6F52ED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-profile__router-links {
    display: flex;
    margin-right: 75px;
}

.profile-page__logout {
    margin-top: 38px;
}

.profile-page__notifications{
    margin-top: 38px;
    margin-right: 27px;
}

.profile-page__avatar{
    margin-top: 25px;
    margin-right: 51px;
}

.profile-page__username{
    margin-top: 43px;
    margin-right: 12px;
}

.profile-page__main{
    display: flex;
}

.left-router{
    display: flex;
    flex-direction: column;
    background: #373B53;
    width: 100px;
    height: 100vh;
    align-items: center;
}

.planet-svg{
    margin-top: 57px;
}

.statistic-svg{
    margin-top: 35px;
}

.vip-svg{
    margin-top: 35px;
    font-family: Gilroy-Bold sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #969CBA;
}

/*todo ПРОФИЛЬ СТИЛИ*/

/*todo РЕЙТИНГ СТИЛИ*/


